@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: #000;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
  * Prevent `sub` and `sup` elements from affecting the line height in
  * all browsers.
  */
b,
strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
  * Remove the inner border and padding in Firefox.
  */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  * Restore the focus styles unset by the previous rule.
  */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  * Correct the padding in Firefox.
  */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

/**
  * Remove the default vertical scrollbar in IE 10+.
  */
textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
  ========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
  ========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  letter-spacing: -0.05em;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .row-md {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 992px) {
  .row-lg {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .row-lg {
    display: flex;
    flex-wrap: wrap;
  }
}

.col {
  flex: 1 0 0%;
}

.col-1 {
  flex: 0 0 8.33333%;
}

.col-offset-1 {
  margin-left: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
}

.col-offset-2 {
  margin-left: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
}

.col-offset-4 {
  margin-left: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
}

.col-offset-5 {
  margin-left: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
}

.col-offset-7 {
  margin-left: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
}

.col-offset-8 {
  margin-left: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
}

.col-offset-10 {
  margin-left: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
}

.col-offset-11 {
  margin-left: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
}

.col-offset-12 {
  margin-left: 100%;
}

@media screen and (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 8.33333%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-5 {
    flex: 0 0 41.66667%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-8 {
    flex: 0 0 66.66667%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-11 {
    flex: 0 0 91.66667%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.33333%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-11 {
    flex: 0 0 91.66667%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.33333%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-5 {
    flex: 0 0 41.66667%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-11 {
    flex: 0 0 91.66667%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.33333%;
  }
  .col-xl-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xl-2 {
    flex: 0 0 16.66667%;
  }
  .col-xl-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
  }
  .col-xl-offset-3 {
    margin-left: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.33333%;
  }
  .col-xl-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xl-5 {
    flex: 0 0 41.66667%;
  }
  .col-xl-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
  }
  .col-xl-offset-6 {
    margin-left: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.33333%;
  }
  .col-xl-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xl-8 {
    flex: 0 0 66.66667%;
  }
  .col-xl-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
  }
  .col-xl-offset-9 {
    margin-left: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.33333%;
  }
  .col-xl-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xl-11 {
    flex: 0 0 91.66667%;
  }
  .col-xl-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
  }
  .col-xl-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 1920px) {
  .col-xxl-1 {
    flex: 0 0 8.33333%;
  }
  .col-xxl-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xxl-2 {
    flex: 0 0 16.66667%;
  }
  .col-xxl-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xxl-3 {
    flex: 0 0 25%;
  }
  .col-xxl-offset-3 {
    margin-left: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 33.33333%;
  }
  .col-xxl-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xxl-5 {
    flex: 0 0 41.66667%;
  }
  .col-xxl-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xxl-6 {
    flex: 0 0 50%;
  }
  .col-xxl-offset-6 {
    margin-left: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 58.33333%;
  }
  .col-xxl-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xxl-8 {
    flex: 0 0 66.66667%;
  }
  .col-xxl-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xxl-9 {
    flex: 0 0 75%;
  }
  .col-xxl-offset-9 {
    margin-left: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 83.33333%;
  }
  .col-xxl-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xxl-11 {
    flex: 0 0 91.66667%;
  }
  .col-xxl-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xxl-12 {
    flex: 0 0 100%;
  }
  .col-xxl-offset-12 {
    margin-left: 100%;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 1.75rem;
  font-size: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  background: #DF362F;
  color: #fff;
  border-color: #DF362F;
}

.btn-rounded, .btn-rounded-primary, .btn-rounded-outline-primary {
  border-radius: 48px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

.btn-rounded-primary {
  background: #DF362F;
  color: #fff;
}

.btn-rounded-outline-primary {
  background: transparent;
  color: #DF362F;
  border-color: #DF362F;
}

.btn-secondary {
  color: #fff;
  background: #3C3A3F;
}

.btn-outline-primary {
  background: transparent;
  color: #DF362F;
  border-color: #DF362F;
}

.text-center {
  text-align: center;
}

.tyre-header {
  position: relative;
  height: 50vh;
}

.tyre-banner {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.37) url("../img/tyre/tyre_banner.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  background-blend-mode: overlay;
}

.ham {
  color: #fff;
  font-size: 2rem;
}

.black {
  color: #000;
}

nav {
  position: relative;
  transition: all 0.3s linear;
  padding-bottom: 0.5rem;
  z-index: 999999;
}

nav .container .nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.94rem;
}

nav .container .nav-header .logo {
  width: 16rem;
}

@media screen and (min-width: 768px) {
  nav .container .nav-header {
    display: flex;
  }
  nav .container .nav-header .logo {
    flex: 1;
  }
  nav .container .nav-header .ham {
    font-size: 4rem;
  }
}

.links-container {
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.links-container .nav-links li {
  padding: 0.75rem 1rem;
}

.show-links {
  height: auto !important;
}

.fixed-nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 999999;
}

@media screen and (min-width: 1200px) {
  .nav {
    padding-top: 1.94rem;
  }
  .nav .container {
    display: flex;
    align-items: center;
  }
  .nav .container .nav-header {
    flex: 1;
    padding: 0;
  }
  .nav .container .nav-header .menu {
    display: none;
  }
  .nav .container .links-container {
    flex: 1;
    background: transparent;
    height: auto;
  }
  .nav .container .links-container .nav-links {
    display: flex;
    justify-content: space-between;
  }
  .nav .container .links-container .nav-links li a {
    color: #fff;
    transition: all .3s linear;
  }
  .nav .container .links-container .nav-links li a:hover {
    color: #DF362F;
  }
  .nav .container .links-container .nav-links li a:active {
    color: #DF362F;
  }
  .nav .container .links-container .nav-links li .black {
    color: #000;
  }
}

.battery-header {
  position: relative;
  height: 50vh;
}

.battery-banner {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.37) url("../img/car_battery.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  background-blend-mode: overlay;
}

.ham {
  color: #fff;
  font-size: 2rem;
}

.black {
  color: #000;
}

nav {
  position: relative;
  transition: all 0.3s linear;
  padding-bottom: 0.5rem;
  z-index: 999999;
}

nav .container .nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.94rem;
}

nav .container .nav-header .logo {
  width: 16rem;
}

@media screen and (min-width: 768px) {
  nav .container .nav-header {
    display: flex;
  }
  nav .container .nav-header .logo {
    flex: 1;
  }
  nav .container .nav-header .ham {
    font-size: 4rem;
  }
}

.links-container {
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.links-container .nav-links li {
  padding: 0.75rem 1rem;
}

.show-links {
  height: auto !important;
}

.fixed-nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 999999;
}

@media screen and (min-width: 1200px) {
  .nav {
    padding-top: 1.94rem;
  }
  .nav .container {
    display: flex;
    align-items: center;
  }
  .nav .container .nav-header {
    flex: 1;
    padding: 0;
  }
  .nav .container .nav-header .menu {
    display: none;
  }
  .nav .container .links-container {
    flex: 1;
    background: transparent;
    height: auto;
  }
  .nav .container .links-container .nav-links {
    display: flex;
    justify-content: space-between;
  }
  .nav .container .links-container .nav-links li a {
    color: #fff;
    transition: all .3s linear;
  }
  .nav .container .links-container .nav-links li a:hover {
    color: #DF362F;
  }
  .nav .container .links-container .nav-links li a:active {
    color: #DF362F;
  }
  .nav .container .links-container .nav-links li .black {
    color: #000;
  }
}

.tyre-product .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-top: 2.98rem;
  margin-bottom: 4.9rem;
}

.tyre-product .btn-container .tab {
  width: 5.69rem;
  height: 4.81rem;
  margin-right: 1.63rem;
  background: #FFFFFF;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tyre-product .btn-container .tab svg {
  width: 3.1rem;
  pointer-events: none;
}

.tyre-product .btn-container .tab p {
  display: none;
}

.tyre-product .btn-container .active {
  background: #3C3A3F;
}

.tyre-product .btn-container .active svg path {
  fill: #fff;
}

.tyre-product .btn-container .active p {
  color: #fff;
}

.tyre-product .tyre-product-content .product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tyre-product .tyre-product-content .product-card .card-img {
  margin: 2.38rem 0 2.13em;
  width: 11.56rem;
  height: 11.56rem;
}

.tyre-product .tyre-product-content .product-card h2 {
  font-size: 1.13rem;
  color: #DF362F;
  padding-bottom: 0.75em;
}

.tyre-product .tyre-product-content .product-card p {
  font-size: 1rem;
  color: #3C3A3F;
  padding-bottom: 3.44rem;
}

.tyre-product .tyre-product-content .product-card hr {
  width: 80%;
  height: 0.13rem;
  border: none;
  background: #D2D7D1;
}

@media screen and (min-width: 768px) {
  .tyre-product .btn-container .tab {
    width: 9.8rem;
    height: 8.2rem;
    display: flex;
    flex-direction: column;
    transition: all 0.1s linear;
  }
  .tyre-product .btn-container .tab svg {
    width: 5.3rem;
    pointer-events: none;
  }
  .tyre-product .btn-container .tab p {
    display: block;
    padding-bottom: 1rem;
    pointer-events: none;
  }
  .tyre-product .btn-container .active {
    background: #3C3A3F !important;
  }
  .tyre-product .btn-container .active svg path {
    fill: #fff;
  }
  .tyre-product .btn-container .active p {
    color: #fff;
  }
  .tyre-product .container .tyre-product-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .tyre-product .container .tyre-product-content .product-card {
    position: relative;
  }
  .tyre-product .container .tyre-product-content .product-card hr {
    display: none;
  }
  .tyre-product .container .tyre-product-content .product-card .line {
    position: absolute;
    top: 2.5rem;
    right: 0;
    background: #D2D7D1;
    width: 0.13rem;
    height: 10.25rem;
  }
}

.export-header {
  position: relative;
  height: 50vh;
}

.export-banner {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.37) url("../img/export_banner.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  background-blend-mode: overlay;
}

.ham {
  color: #fff;
  font-size: 2rem;
}

.black {
  color: #000;
}

nav {
  position: relative;
  transition: all 0.3s linear;
  padding-bottom: 0.5rem;
  z-index: 999999;
}

nav .container .nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.94rem;
}

nav .container .nav-header .logo {
  width: 16rem;
}

@media screen and (min-width: 768px) {
  nav .container .nav-header {
    display: flex;
  }
  nav .container .nav-header .logo {
    flex: 1;
  }
  nav .container .nav-header .ham {
    font-size: 4rem;
  }
}

.links-container {
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.links-container .nav-links li {
  padding: 0.75rem 1rem;
}

.show-links {
  height: auto !important;
}

.fixed-nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 999999;
}

@media screen and (min-width: 1200px) {
  .nav {
    padding-top: 1.94rem;
  }
  .nav .container {
    display: flex;
    align-items: center;
  }
  .nav .container .nav-header {
    flex: 1;
    padding: 0;
  }
  .nav .container .nav-header .menu {
    display: none;
  }
  .nav .container .links-container {
    flex: 1;
    background: transparent;
    height: auto;
  }
  .nav .container .links-container .nav-links {
    display: flex;
    justify-content: space-between;
  }
  .nav .container .links-container .nav-links li a {
    color: #fff;
    transition: all .3s linear;
  }
  .nav .container .links-container .nav-links li a:hover {
    color: #DF362F;
  }
  .nav .container .links-container .nav-links li a:active {
    color: #DF362F;
  }
  .nav .container .links-container .nav-links li .black {
    color: #000;
  }
}

.export-products {
  margin-top: 4.132rem;
  margin-bottom: 6.5rem;
}

.export-products .container .product-title {
  text-align: center;
}

.export-products .container .export-product-content .product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.export-products .container .export-product-content .product-card .card-img {
  margin: 2.38rem 0 2.13em;
  width: 11.56rem;
  height: 11.56rem;
}

.export-products .container .export-product-content .product-card h2 {
  font-size: 1.13rem;
  color: #DF362F;
  padding-bottom: 0.75em;
}

.export-products .container .export-product-content .product-card p {
  font-size: 1rem;
  color: #3C3A3F;
  padding-bottom: 3.44rem;
}

.export-products .container .export-product-content .product-card hr {
  width: 80%;
  height: 0.13rem;
  border: none;
  background: #D2D7D1;
}

@media screen and (min-width: 768px) {
  .export-products .container .product-title {
    text-align: center;
  }
  .export-products .container .export-product-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .export-products .container .export-product-content .product-card {
    position: relative;
  }
  .export-products .container .export-product-content .product-card hr {
    display: none;
  }
  .export-products .container .export-product-content .product-card .line {
    position: absolute;
    top: 2.5rem;
    right: 0;
    background: #D2D7D1;
    width: 0.13rem;
    height: 10.25rem;
  }
}

.map {
  margin-bottom: 6.13rem;
}

.contact-header {
  position: relative;
  height: 94.31rem;
}

.contact-header .box {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 5.19rem;
  height: 40%;
  background: #3C3A3F;
}

.contact-header .box img {
  display: none;
}

.contact-header .get-in-touch {
  position: absolute;
  top: 6rem;
  left: 1rem;
  width: 20.19rem;
  background: #FFFFFF;
  box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.25);
}

.contact-header .get-in-touch .container h3 {
  font-weight: 300;
  font-size: 0.88rem;
  line-height: 17px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #3C3A3F;
}

.contact-header .get-in-touch .container .contact-details {
  margin-bottom: 2.5rem;
}

.contact-header .get-in-touch .container .contact-details .details {
  display: flex;
  margin-bottom: 2.56rem;
}

.contact-header .get-in-touch .container .contact-details .details .img .bx {
  font-size: 1.63rem;
  color: #DF362F;
}

.contact-header .get-in-touch .container .contact-details .details .text {
  margin-left: 1rem;
}

.contact-header .get-in-touch .container .contact-details .details .text p {
  margin-top: 0.81rem;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.05em;
  text-transform: capitalize;
  color: #000000;
}

.contact-header .get-in-touch .container .socials h3 {
  margin-bottom: 2.5rem;
}

.contact-header .get-in-touch .container .socials .social-icons {
  display: flex;
  margin-bottom: 4.63rem;
}

.contact-header .get-in-touch .container .socials .social-icons img {
  margin-right: 2.25rem;
}

.contact-header .contact-form {
  width: 100%;
  position: absolute;
  top: 50%;
}

.contact-header .contact-form h1 {
  margin-bottom: 3.25rem;
}

.contact-header .contact-form .form {
  display: flex;
  flex-direction: column;
}

.contact-header .contact-form .form label {
  margin-bottom: 1rem;
}

.contact-header .contact-form .form input, .contact-header .contact-form .form textarea {
  width: 100%;
  background: #F1F1F1;
  border: 1px solid #DCDCDC;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 1rem;
}

.contact-header .contact-form .form input {
  height: 2.88rem;
}

.contact-header .contact-form .form input:active {
  border-color: #DF362F;
}

.contact-header .contact-form .form button {
  margin: 1.69rem 0;
  width: 12.31rem;
}

@media screen and (min-width: 768px) {
  .map {
    margin-top: 3.44rem;
  }
  .contact-header {
    height: 60.56rem;
  }
  .contact-header .box {
    width: 18.63rem;
    height: 60.56rem;
  }
  .contact-header .get-in-touch {
    box-shadow: none;
    margin-top: 5rem;
  }
  .contact-header .contact-form {
    width: 25.88rem;
    background: #FFFFFF;
    border: 10px solid #C85D67;
    top: 9.13rem;
    left: 20.44rem;
  }
}

@media screen and (min-width: 992px) {
  .contact-header .box {
    width: 28.63rem;
  }
  .contact-header .get-in-touch {
    width: 20.19rem;
  }
  .contact-header .get-in-touch .container h3 {
    font-size: 0.88rem;
  }
  .contact-header .get-in-touch .container .contact-details {
    margin-bottom: 2.5rem;
  }
  .contact-header .get-in-touch .container .contact-details .details .text p {
    font-size: 1.13rem;
  }
  .contact-header .contact-form {
    width: 30rem;
    left: 25rem;
  }
}

@media screen and (min-width: 1200px) {
  .contact-header .box {
    width: 46.94rem;
    overflow: hidden;
  }
  .contact-header .box img {
    display: block;
    margin: 6.44rem 8.56rem 0;
  }
  .contact-header .get-in-touch .container h1 {
    font-size: 3.25rem;
  }
  .contact-header .get-in-touch .container .contact-details .details .text p {
    line-height: 1.38rem;
    letter-spacing: -0.05em;
  }
  .contact-header .contact-form {
    width: 36rem;
    left: 32.81rem;
  }
}

@media screen and (min-width: 1920px) {
  .contact-header .box {
    width: 59.94rem;
    overflow: hidden;
  }
  .contact-header .box img {
    display: block;
    margin: 4.44rem 25.56rem 0;
  }
  .contact-header .get-in-touch {
    margin-left: 8rem;
  }
  .contact-header .get-in-touch .container h1 {
    font-size: 3.25rem;
  }
  .contact-header .get-in-touch .container .contact-details .details .text p {
    line-height: 1.38rem;
    letter-spacing: -0.05em;
  }
  .contact-header .contact-form {
    width: 46rem;
    left: 52.81rem;
  }
}

div[class^="col-"], .col {
  padding: 1rem 0;
}

.section-title {
  font-size: 2.25rem;
  text-transform: capitalize;
  color: #3C3A3F;
}

.home-header {
  position: relative;
  height: 90vh;
}

.home-banner {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.37) url("../img/banner.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  background-blend-mode: overlay;
}

.ham {
  color: #fff;
  font-size: 2rem;
}

.black {
  color: #000;
}

nav {
  position: relative;
  transition: all 0.3s linear;
  padding-bottom: 0.5rem;
  z-index: 999999;
}

nav .container .nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.94rem;
}

nav .container .nav-header .logo {
  width: 16rem;
}

@media screen and (min-width: 768px) {
  nav .container .nav-header {
    display: flex;
  }
  nav .container .nav-header .logo {
    flex: 1;
  }
  nav .container .nav-header .ham {
    font-size: 4rem;
  }
}

.links-container {
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.links-container .nav-links li {
  padding: 0.75rem 1rem;
}

.show-links {
  height: auto !important;
}

.fixed-nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 999999;
}

@media screen and (min-width: 1200px) {
  .nav {
    padding-top: 1.94rem;
  }
  .nav .container {
    display: flex;
    align-items: center;
  }
  .nav .container .nav-header {
    flex: 1;
    padding: 0;
  }
  .nav .container .nav-header .menu {
    display: none;
  }
  .nav .container .links-container {
    flex: 1;
    background: transparent;
    height: auto;
  }
  .nav .container .links-container .nav-links {
    display: flex;
    justify-content: space-between;
  }
  .nav .container .links-container .nav-links li a {
    color: #fff;
    transition: all .3s linear;
  }
  .nav .container .links-container .nav-links li a:hover {
    color: #DF362F;
  }
  .nav .container .links-container .nav-links li a:active {
    color: #DF362F;
  }
  .nav .container .links-container .nav-links li .black {
    color: #000;
  }
}

.hero {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  z-index: 99999;
}

.headline .subtitle {
  font-size: 1.13rem;
  color: #D2D7D1;
}

.headline .title {
  font-size: 3.25rem;
  color: #fff;
  width: 378px;
}

.headline a {
  font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  .headline .subtitle {
    font-size: 2.25rem;
  }
  .headline .title {
    font-size: 6rem;
    width: 38.13rem;
  }
  .headline a {
    font-size: 1.15rem;
    padding: 1rem 4rem;
  }
}

@media screen and (min-width: 992px) {
  .headline .title {
    font-size: 5rem;
    width: 38.13rem;
  }
}

.about-us .about-img {
  width: 100%;
  height: 21.88rem;
  background: url("../img/truck-image.png");
  background-position: center center;
  background-size: cover;
  margin-top: -1.75rem;
  z-index: 1000;
}

.about-us .about-content {
  margin-top: 5.36rem;
  position: relative;
}

.about-us .about-content .about-paragraph {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -0.05em;
  text-transform: capitalize;
  padding-bottom: 1.56rem;
  text-align: center;
}

.about-us .about-content .about-btn {
  margin-bottom: 1rem;
  text-align: center;
}

.about-us .about-content .about-title {
  margin-top: 3rem;
  text-align: center;
}

.about-us .about-content .grahic {
  position: absolute;
  top: -7.75rem;
  right: 0;
  left: 0;
  z-index: -1;
  overflow-x: hidden;
  height: 49.38rem;
}

.about-us .about-content .grahic img {
  height: 100%;
}

@media screen and (min-width: 768px) {
  .about-us {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
  }
  .about-us .about-content {
    width: 44.88rem;
    margin: 0;
  }
  .about-us .about-content .grahic {
    overflow: visible;
    top: -9rem;
    left: -15rem;
    right: -20rem;
    bottom: -188rem;
    z-index: -999;
  }
  .about-us .about-content .about-paragraph {
    width: 22.63rem;
    text-align: left;
  }
  .about-us .about-content .about-btn {
    text-align: left;
  }
  .about-us .about-content .about-title {
    text-align: left;
  }
  .about-us .about-img {
    margin: 0;
    width: 44.19rem;
    z-index: 99999;
    margin-top: -1.75rem;
  }
}

@media screen and (min-width: 992px) {
  .about-us .about-content .grahic {
    left: -10rem;
  }
  .about-us .about-content .about-paragraph {
    width: auto;
  }
  .about-us .about-img {
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  .about-us .about-content {
    margin-top: 4.5rem;
  }
  .about-us .about-content .grahic {
    right: -30rem;
    left: -10rem;
  }
  .about-us .about-content .container .about-title {
    padding-left: 1.5rem;
  }
  .about-us .about-content .about-paragraph {
    width: 28.19rem;
  }
  .about-us .about-img {
    margin-top: -4rem;
    overflow: visible;
    width: 58.31rem;
    height: 44.69rem;
  }
}

@media screen and (min-width: 1920px) {
  .about-us {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 4rem;
  }
  .about-us .about-img {
    margin-top: -6rem;
  }
  .about-us .about-content {
    margin-top: 4.5rem;
  }
  .about-us .about-content .grahic {
    right: -40rem;
  }
  .about-us .about-content .container .about-title {
    padding-left: 1.5rem;
  }
  .about-us .about-content .container .about-paragraph {
    width: 25.19rem;
  }
}

.products {
  margin-top: 10rem;
}

.products .container .product-title {
  text-align: center;
}

.products .container .product-content .product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products .container .product-content .product-card .card-img {
  margin: 2.38rem 0 2.13em;
  width: 11.56rem;
  height: 11.56rem;
}

.products .container .product-content .product-card h2 {
  font-size: 1.13rem;
  color: #DF362F;
  padding-bottom: 0.75em;
}

.products .container .product-content .product-card p {
  font-size: 1rem;
  color: #3C3A3F;
  padding-bottom: 3.44rem;
}

.products .container .product-content .product-card hr {
  width: 80%;
  height: 0.13rem;
  border: none;
  background: #D2D7D1;
}

@media screen and (min-width: 768px) {
  .products {
    margin-top: 10rem;
  }
  .products .container .product-title {
    text-align: center;
  }
  .products .container .product-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .products .container .product-content .product-card {
    position: relative;
  }
  .products .container .product-content .product-card hr {
    display: none;
  }
  .products .container .product-content .product-card .line {
    position: absolute;
    top: 2.5rem;
    right: 0;
    background: #D2D7D1;
    width: 0.13rem;
    height: 10.25rem;
  }
}

.parllax {
  height: 32.88em;
  background: url("../img/parllax_image.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
}

.parllax .tyre-img {
  width: 11em;
}

.parllax .phone {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.parllax .phone span {
  font-size: 1.13rem;
}

.parllax .parllax-subtitle {
  text-transform: uppercase;
  font-size: 1.13rem;
  color: #3C3A3F;
}

.parllax .parllax-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #3C3A3F;
  font-size: 2.25em;
  margin: 1.13rem 0 1.5rem;
}

@media screen and (min-width: 768px) {
  .parllax {
    height: 19rem;
  }
  .parllax .tyre-img {
    width: 6rem;
  }
  .parllax .container .parllax-title {
    font-size: 3.25rem;
    width: 30.69rem;
  }
  .parllax .container .phone {
    width: 60%;
  }
  .parllax .container .phone span {
    font-size: 1.13rem;
  }
}

@media screen and (min-width: 992px) {
  .parllax {
    height: 32.88em;
    align-items: center;
  }
  .parllax .tyre-img {
    width: 2rem;
  }
  .parllax .container .parllax-title {
    font-size: 4rem;
    width: auto;
  }
  .parllax .container .parllax-subtitle {
    font-size: 1.5rem;
  }
  .parllax .container .phone {
    width: 30%;
  }
  .parllax .container .phone span {
    font-size: 1.13rem;
  }
}

.testimonial-header {
  margin: 6.5rem 0 3.75rem;
}

.testimonial-header .testimonial-title {
  font-size: 2.25rem;
  letter-spacing: -0.1rem;
  text-transform: capitalize;
  font-weight: bold;
  color: #3C3A3F;
  margin: 0;
}

.testimonial-header .testimonial-desc {
  margin-top: 1.13rem;
  font-size: 1rem;
  line-height: 1.19rem;
  color: rgba(0, 0, 0, 0.62);
}

.testimonial-content {
  padding: 0 0.5rem;
}

.testimonial-content #divider {
  display: none;
}

.testimonial-content .testimonial-card {
  padding: 0 0.9rem;
  height: 14.81rem;
  background: #fff;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
  margin-bottom: 3.06rem;
  position: relative;
}

.testimonial-content .testimonial-card .qoute {
  position: absolute;
  left: 0.4rem;
  top: 0.6rem;
}

.testimonial-content .testimonial-card .test-card-content {
  margin-top: 1rem;
  padding: 1rem 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial-content .testimonial-card .test-card-content .test-text {
  flex: 0.55;
}

.testimonial-content .testimonial-card .test-card-content .test-text p {
  font-size: 0.88rem;
  color: rgba(0, 0, 0, 0.62);
  line-height: 1.06rem;
  margin-bottom: 1.13rem;
}

.testimonial-content .testimonial-card .test-card-content .test-text .text-name {
  font-size: 1.13rem;
  color: #3C3A3F;
  font-weight: bold;
}

.testimonial-content .testimonial-card .test-card-content .test-image {
  flex: 0.35;
  justify-self: flex-end;
}

@media screen and (min-width: 768px) {
  .testimonial-header {
    margin: 2.88rem auto 1.81rem;
    width: 50%;
  }
  .testimonial-header .testimonial-title {
    font-size: 2.25rem;
    letter-spacing: -0.1rem;
    text-transform: capitalize;
    font-weight: bold;
    color: #3C3A3F;
    margin: 0;
  }
  .testimonial-header .testimonial-desc {
    margin-top: 1.13rem;
    font-size: 1rem;
    line-height: 1.19rem;
    color: rgba(0, 0, 0, 0.62);
  }
  .testimonial-content .first {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .testimonials .testimonial-content #divider {
    display: block;
    padding-left: 3rem;
  }
  .testimonials .testimonial-content .first {
    margin-left: 2rem;
  }
  .testimonials .testimonial-content .second {
    margin: 0;
  }
}

.location .container .location-title {
  margin-bottom: 2.64rem;
}

.location .map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 17.5rem;
}

.location .map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .location .map-responsive {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .location .map-responsive {
    width: 90%;
    margin: 0 auto;
    height: 29.25rem;
    padding: 0;
  }
}

.brands {
  margin: 2.75rem 0 0 1.06rem;
}

.brands .logo-container {
  margin: 2.13rem 0;
  display: flex;
  overflow-x: scroll;
}

@media screen and (min-width: 1200px) {
  .brands {
    margin: 2.75rem 0 0 -1.07rem;
  }
  .brands .logo-container {
    width: 100%;
    display: flex;
    overflow: visible;
  }
}

.footer {
  background: #3C3A3F;
}

.footer .container {
  color: #fff;
}

.footer .container .footer-logo {
  margin-top: 4.56rem;
  margin-bottom: 4rem;
}

.footer .container .footer-logo .footer-img {
  margin-bottom: 1.88rem;
}

.footer .container .footer-logo .socials {
  width: 7.88rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.44rem;
}

.footer .container .footer-info div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.3rem;
}

.footer .container .footer-info div p {
  font-size: 0.75rem;
  flex: 0.95;
}

.footer .footer-link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.375rem;
}

.footer .footer-link h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2.1rem;
}

.footer .footer-link ul li a {
  display: inline-block;
  color: #fff;
  font-size: 0.88rem;
  text-transform: uppercase;
  margin-bottom: 0.94rem;
}

.footer .copyrights p {
  width: 70%;
  text-align: center;
  margin: 1.44rem auto;
  line-height: 1.66rem;
}

@media screen and (min-width: 768px) {
  .footer .container .row .footer-link {
    margin-top: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */