$font: 'Inter', sans-serif;
@import "reboot";
@import "mixins";
@import "utilities";

div[class^="col-"] , .col{
  padding: 1rem 0;
}

.section-title{
  font-size: 2.25rem;
  text-transform: capitalize;
  color: $secondary-color;
}
header{
  position: relative;
  height: 90vh;
}
.banner{
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: url('../img/banner.jpg');
  background-position:  top center;
  background-size: cover;
}
.banner::after{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.37);
}

nav{
  position: relative;
  .container{
    .nav-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 1.94rem;
    }
  }
}
.links-container{
  background: #fff;
  padding: 0.94rem 0.94rem;
  visibility: hidden;
  .nav-links{
    li{
      padding: 0.31rem 0;
    }
  }
}
.show-links{
  visibility: visible;
}
.hero{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  // align-items: center;
  text-align: center;
  z-index: 999;
}
.headline{
  .subtitle{
    font-size: 1.13rem;
    color: $light-color;
  }
  .title{
    font-size: 3.25rem;
    color: #fff;
    width: 378px;
  }
  a{
    font-size: 0.75rem;
  }
}  
.about-us{
  
  .about-img{
    width: 100%;
    height: 21.88rem;
    background: url('../img/truck-image.png');
    background-position: center center;
    background-size: cover;
    margin-top: -1.75rem;
    z-index: 1000;
  }
  .about-content{
    margin-top: 5.36rem;
    position: relative;
    
    .about-paragraph{
      font-size: 1rem;
      font-weight: 400;
      line-height: 2rem;
      letter-spacing: -0.05em;
      text-transform: capitalize;
      padding-bottom: 1.56rem;
    }
    .about-btn{
    
      text-align: center;
    }
    .grahic{
      position: absolute;
      top: -8.75rem;
      right: 0;
      left: 0;
      z-index: -1;
      overflow-x: hidden;
    }
  }
}

.products{
  margin-top: 10rem;
  .container{
    .product-title{
      text-align: center;
    }
    .product-content{
      .product-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .card-img{
          margin: 2.38rem 0 2.13em;
          width: 11.56rem;
          height: 11.56rem;
        }
        h2{
          font-size: 1.13rem;
          color: $primary-color;
          padding-bottom: 0.75em;
        }
        p{
          font-size: 1rem;
          color: $secondary-color;
          padding-bottom: 3.44rem;
        }
        hr{
          width: 80%;
          height: 0.13rem;
          border: none;
          background: $light-color;
        }
      }
    }
  }
}
.parllax{
  height: 32.88em;
  background: url('../img/parllax_image.jpg') no-repeat;
  background-position: top center;
  background-size: cover;
  .tyre-img{
    width: 11em;
  }
  .phone{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    span{
      font-size: 1.13rem;
    }
  }
  .parllax-subtitle{
    text-transform: uppercase;
    font-size: 1.13rem;
    color: $secondary-color;
  }
  .parllax-title{
    text-transform: uppercase;
    font-weight: bold;
    color: $secondary-color;
    font-size: 2.25em;
    margin: 1.13rem 0 1.5rem;
  }
}

.testimonial-header{
  margin: 6.5rem 0 3.75rem;
  .testimonial-title{
    font-size: 2.25rem;
    letter-spacing: -0.1rem;
    text-transform: capitalize;
    font-weight: bold;
    color: $secondary-color;
    margin: 0;
  }
  .testimonial-desc{
    margin-top: 1.13rem;
    font-size: 1rem;
    line-height: 1.19rem;
    color: rgba(0, 0, 0, 0.62)
  }
}
.testimonial-content{
  padding: 0 0.5rem;
  .testimonial-card{
    padding: 0 0.9rem;
    height: 14.81rem;
    background: #fff;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
    margin-bottom: 3.06rem;
    position: relative;
    .qoute{
      position: absolute;
      left: 0.4rem;
      top: 0.6rem;
    }
    .test-card-content{
      margin-top: 1rem;
      padding: 1rem 1rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .test-text{
        flex: 0.55;
        p{
          font-size: 0.88rem;
          color:rgba(0, 0, 0, 0.62);
          line-height: 1.06rem;
          margin-bottom: 1.13rem;
        }
        .text-name{
          font-size: 1.13rem;
          color: $secondary-color;
          font-weight: bold;
        }
      }
      .test-image{
        flex: 0.35;
        justify-self: flex-end;
      }
    }
  }
}

.location{
  .container{
    .location-title{
      margin-bottom: 2.64rem;
    }
  }
  .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height: 17.5rem;
    iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
    }
    
  }
}
.brands{
  margin: 2.75rem 0 0 1.06rem;
  .logo-container{
    margin: 2.13rem 0; 
    display: flex;
    overflow-x: scroll;
  }
}
